# Project in Social Data Analysis

Data links:
- https://www.opendata.dk/city-of-copenhagen/trae_basis 
- https://www.opendata.dk/city-of-copenhagen/gadetraeer

Inspiration til vores illustration:
https://www.cloudred.com/labprojects/nyctrees/

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("gadetraer.csv")

In [3]:
df.head()

,FID,id,traeart,slaegt,dansk_navn,slaegtsnavn,planteaar,plantet_halvaar,garantiperioden_udloeber,plantemetode,...,trae_historie,botanisk_interesse,donor,anledning,saerligt_trae,saerlig_trae_bem,bydelsnavn,fredet_trae_foto,vejstatus,wkb_geometry
0,gadetraer.1,18611,Tilia platyphyllos,Tilia sp.,Storbladet lind,Lind,1953,Ikke registreret,Ikke registreret,Muld,...,Ikke registreret,Ikke registreret,NaN,NaN,nej,NaN,Vesterbro-Kongens Enghave,NaN,2.0,POINT (12.5370471883976 55.6486340745573)
1,gadetraer.2,21291,Tilia platyphyllos,Tilia sp.,Storbladet lind,Lind,1953,Ikke registreret,Ikke registreret,Muld,...,Ikke registreret,Ikke registreret,NaN,NaN,nej,NaN,Vesterbro-Kongens Enghave,NaN,2.0,POINT (12.536925020477707 55.64867988581558)
2,gadetraer.3,21292,Tilia platyphyllos,Tilia sp.,Storbladet lind,Lind,1953,Ikke registreret,Ikke registreret,Muld,...,Ikke registreret,Ikke registreret,NaN,NaN,nej,NaN,Vesterbro-Kongens Enghave,NaN,2.0,POINT (12.537000905330974 55.64876361021244)
3,gadetraer.4,21293,Tilia platyphyllos,Tilia sp.,Storbladet lind,Lind,1953,Ikke registreret,Ikke registreret,Muld,...,Ikke registreret,Ikke registreret,NaN,NaN,nej,NaN,Vesterbro-Kongens Enghave,NaN,2.0,POINT (12.537133269649273 55.64872321507861)
4,gadetraer.5,21294,Tilia platyphyllos,Tilia sp.,Storbladet lind,Lind,1953,Ikke registreret,Ikke registreret,Muld,...,Ikke registreret,Ikke registreret,NaN,NaN,nej,NaN,Vesterbro-Kongens Enghave,NaN,2.0,POINT (12.537399549194998 55.648992732825036)

In [4]:
import matplotlib.pyplot as plt

In [14]:
traer = df.slaegtsnavn.count()

In [15]:
traer

17123

In [13]:
df.bydelsnavn.unique()

array(['Vesterbro-Kongens Enghave', 'Valby', 'NÃ¸rrebro', 'Indre By',
       'Amager Ã˜st', nan, 'VanlÃ¸se', 'Ã˜sterbro', 'Amager Vest',
       'Bispebjerg', 'BrÃ¸nshÃ¸j-Husum',
       'POINT (12.616383285580074 55.64228414230211)', '2'], dtype=object)