In [1]:
import pandas as pd
import numpy as np

In [5]:
from googletrans import Translator
translator = Translator()

In [88]:
df = pd.read_csv("trae_basis.csv", low_memory=False)
df = df[df.slaegtsnavn.notna()]

array(['Albizia (Ærteblomst-fam,)', 'Ambratræ', 'Aralie', 'Ask', 'Avnbøg',
       'Benved', 'Birk', 'Bjergthe', 'Bærmispel', 'Bøg', 'Ceder',
       'Douglasgran', 'Duetræ', 'Dværgcypres', 'Eg', 'El', 'Elm', 'Ene',
       'Fyr', 'Gingko', 'Gran', 'Guldregn', 'Hassel', 'Hemlock',
       'Hestekastanie', 'Hibiscus-slægten', 'Hjertetræ', 'Humlebøg',
       'Hønsebenstræ', 'Ikke registreret', 'Kastanie', 'Kirsebær/Blomme',
       'Kornel', 'Kristtorn', 'Kvæde', 'Lind', 'Lærk', 'Løn', 'Magnolia',
       'Mispel', 'Morbær', 'Nyssa', 'Osagetorn',
       'Parrotia, ikke navngivet på dansk', 'Paulównia', 'Pil', 'Platan',
       'Poppel', 'Pære', 'Robinie', 'Røn',
       'Sequoiadendron, ikke navngivet på dansk', 'Skyrækker', 'Snebolle',
       'Sophora', 'Stennnød', 'Storaks', 'Sydbøg', 'Syren-slægten',
       'Sølvblad ', 'Taks', 'Taxodium, ikke navngivet på dansk', 'Thuja',
       'Tjørn', 'Tretorn', 'Trompetkrone', 'Tulipantræ', 'Valnød',
       'Vandgran', 'Vingevalnød', 'Zelkova, ikke navngivet på dansk',
       'Æble', 'Ædelgran', 'Ægte kastanie'], dtype=object)

In [89]:
minority= df.groupby('slaegtsnavn').count()['id'][:]<25
minority=minority[minority==True]

In [91]:
df = pd.read_csv("trae_basis.csv", low_memory=False)
df = df[df.slaegtsnavn.notna()]
df['slaegtsnavn_eng']=df['slaegtsnavn']
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Ikke registreret', 'Not registered', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Lind', 'Linden', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Platan', 'Plane', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Kirsebær/Blomme', 'Cherry/Plum', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Røn', 'Rowan', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Løn', 'Maple', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Ask', 'Ash', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Eg', 'Oak', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Løn', 'Maple', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Robinie', 'Black locust', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Hestekastanie', 'Horse chestnut', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Birk', 'Birch', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Poppel', 'Poplar', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Æble', 'Apple', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Tjørn', 'Hawthorn', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Avnbøg', 'Hornbeam', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Fyr', 'Pine', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Pil', 'Willow', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('El', 'Alder', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Hassel', 'Hazel', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Tretorn', 'Honey locust', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Gran', 'Spruce', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Pære', 'Pear', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Vandgran', 'dawn redwood', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Taks', 'Yew', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Skyrækker', 'Tree of heaven', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Bøg', 'Beech', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Tulipantræ', 'Tulip tree', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Ambratræ', 'Sweetgum', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Dværgcypres', 'False cypress', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Bærmispel', 'Juneberry', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Lærk', 'Larch', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Kastanie', 'Chestnut', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Guldregn', 'Golden rain', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Kornel', 'Cornus', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Ceder', 'Cedar', regex=False)
df['slaegtsnavn_eng']=df['slaegtsnavn_eng'].str.replace('Valnød', 'Walnut', regex=False)

df['slaegtsnavn_eng']

0                Linden
1                Linden
2                Linden
3                Linden
4                Linden
5                Linden
6                Linden
7                Linden
8                Linden
9                Linden
10               Linden
11               Linden
12               Linden
13               Linden
14               Linden
15               Linden
16               Linden
17               Linden
18               Linden
19               Linden
20               Linden
21               Linden
22               Linden
23               Linden
24               Linden
25               Linden
26               Linden
27               Linden
28               Linden
29       Not registered
              ...
59550    Not registered
59551    Not registered
59552    Not registered
59553    Not registered
59554    Not registered
59555    Not registered
59556    Not registered
59557    Not registered
59558    Not registered
59559    Not registered
59560    Not registered
59561    Not registered
59562    Not registered
59563    Not registered
59564    Not registered
59565    Not registered
59566    Not registered
59567    Not registered
59568             Maple
59569    Not registered
59570    Tree of heaven
59571    Not registered
59572    Not registered
59573    Not registered
59574    Not registered
59575             Apple
59576             Maple
59577              Pine
59578              Pine
59579              Pine
Name: slaegtsnavn_eng, Length: 59557, dtype: object